.main-header{
    background: url("./resources/background.png");
    background-position: center;
    color: black;
    align-items: center;
}

.main-foto{
    width: 100%;
    height: 400px;
    background: url("./resources/students.png");
    background-position: right;
    align-items: flex-end;
    color: white;
}

.main-foto-caption{
    bottom: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}

.main-header-content{
    width: 90%;
    padding-top: 80px;
    padding-bottom: 85px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-header-title{
    text-align: center;
    color: #1d5bce;
    margin: 0;
    font-size: 55px;
    font-family: 'Raleway', sans-serif;
}

.main-header-body{
    margin: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: justify;
    text-justify: inter-word;
}

.main-header-button-container{
    display: block;
    text-decoration: none;
    width: 100%;
    align-items: center;
    text-align: center;
}

.main-header-button{
    margin: auto;
    background-image: linear-gradient(to right, #1d5bce , #09c240);
    padding: 12px;
    color: white;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
}

.main-header-button:hover{
    background-image: linear-gradient(to right, #09c240, #1d5bce );
    cursor: pointer;
}

.objectives-header{
    background: url("./resources/background.png");
    background-position: center;
    color: black;
}

.objectives-header-content{
    width: 90%;
    padding-top: 80px;
    padding-bottom: 85px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.objectives-header-title{
    text-justify: auto;
    color: #1d5bce;
    margin: 0;
    font-size: 55px;
}