.card{
    width: 15%;
    height: 300px;
    display: inline-block;
    box-shadow: 2px 2px 10px black;
    border-radius: 5px; 
    margin: 2%;
    overflow: hidden;
}

.card:hover{
    cursor : pointer;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 2px 2px 20px black;
}

.card-image{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.card-title{
    text-align: center;
    font-size: 10px;
}

.card-description{
    padding-left: 10px;
    text-justify: auto;
    font-size: 12px;
    padding-bottom: 5px;
    text-overflow: ellipsis;
}